<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="barra-topo">
  <div class="interface-limite">
    <a href="#" class="logo-site">Byte<span>Forge</span></a>
    
    <nav class="menu-navegacao">
      <ul>
        <li><a href="#sobre">Sobre Mim</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#contato" class="botao-contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
      <h1 class="title">Hello World!</h1>
      <script src="script.js"></script>
  </body>
</html>